.*
*__pycache__*
*.log
resources
wandb
.*__init__.*
src/__init__.pyc
.idea
resources
wandb/
*.log
wsdframework_env/
xlm_fr_log.txt
data2/models
data2
data_bkp
data3
data/
config/
venv
data4
logs
wsd_framework_venv/
config
.config
wsdframework_data.tar.gz
data5
sample_en
sweep.i97op0ma.txt
sweep.*
data
lightning_logs
multimodal_wsd
to_send
